nav {
  display: flex;
  align-items: center;
  justify-content: space-around;
  padding: 1rem;
  height: 50px;
  width: 100%;
  font: 1.5rem serif;
  color: black;
  background-color: hsl(174, 98%, 40%);
}

.game-container {
  display: flex;
  flex-direction: column;
  margin: 2rem 0;
  width: 100%;
  background-color: hsl(0, 0%, 15%);
  min-height: 100vh;
}

.flags-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(120px, 1fr));
  grid-template-rows: max-content;
  gap: 0.3rem;
  margin: 1rem;
}

.flags-container button {
  background-color: hsl(177, 18%, 20%);
  border: 0;
}

.flags-container img {
  object-fit: contain;
  border-radius: 1px;
}

.flags-container img:hover {
  box-shadow: white 2px 2px 6px;
}

.flags-hover {
  box-shadow: white 2px 2px 6px;
}

.options-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(120px, 1fr));
  gap: 0.3rem;
  margin: 1rem;
}

.country-option {
  padding: 0.5rem;
  font-family: "Segoe UI", "Open Sans", "Helvetica Neue", sans-serif;
  font-size: 1rem;
  border: 1px solid rgb(189, 189, 189);
  border-radius: 4px;
  background-color: hsl(232, 57%, 45%);
  color: #eee;
  cursor: pointer;
  transition: background-color 300ms;
  animation: fadeIn 800ms;
  min-height: 5rem;
}

.country-option:disabled {
  cursor: auto;
  background-color: transparent;
}

.skip-countries {
  border: 4px solid;
  font-size: 3em;
  background-color: #bbb;
  color: hsl(174, 98%, 40%);
}

button:enabled:hover {
  filter: brightness(120%);
}

.hide {
  display: none;
}

@media screen and (min-width: 768px) {
  .hide {
    display: block;
  }
}

.flash {
  animation: flash 1s;
}

@keyframes fadeIn {
  from {
    opacity: 0%;
  }
  to {
    opacity: 100%;
  }
}

@keyframes flash {
  from {
    filter: brightness(125%);
  }
  10% {
    filter: brightness(110%);
  }
  to {
    filter: brightness(100%);
  }
}
