.container {
  display: grid;
  grid-template-columns: 1fr 6fr 1fr;
  /* align-items: center; */
  /* justify-items: center; */
  width: 100%;
  max-width: 500px;
  height: 200px;
  gap: 0.2rem;
  padding: 1rem;
}

.bar {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  width: 100%;
  height: 50px;
}
.bar > div {
  width: 100%;
  height: 100%;
  background-color: rgb(145, 145, 145);
  border: 1px solid white;
  border-radius: 3px;
  transition: 400ms;
}

.btnSuccess {
  background-color: #4dc96e;
}
.btnDanger {
  background-color: rgb(183, 113, 73);
}
.control {
  width: 100%;
  height: 50px;
  color: white;
  border: 1px solid black;
  font-size: 2rem;
  cursor: pointer;
}

.control:active {
  filter: brightness(30%);
}

.control:disabled {
  cursor: auto;
  background-color: rgb(145, 145, 145);
}

.startBtn {
  grid-column: 1 / 4;
  justify-self: center;
  padding: 0 2rem;
  font-size: 2rem;
}
