html {
  background-color: hsl(194, 12%, 32%);
  color: #eee;
}

img {
  max-width: 100%;
}
h1,
p {
  margin: 0.8rem;
}

a {
  color: currentColor;
  text-decoration: none;
}

a:visited {
  color: currentColor;
}

* {
  font-family: Georgia, "Times New Roman", Times, serif;
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
